.form-container {
     width: 460px;
     margin: auto 100px;
     padding: 32px;
     font-weight: bold;
     background-color: rgba(114, 121, 34, 0.9);
     box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
}

input {
    margin-top: 32px;
    padding: 0.5rem;
    font-size: 16px;
    width: 100%;
    display: block;
    color: #4d2d52;
    border: 2px solid rgba(77, 45, 82, 0.8);
}